html, body{
    box-sizing: border-box;
}
.container{
    width: 74%;
    margin:20px auto;
    border: solid 1px #ccc;
    padding-top: 14px;
}

.posts-wrapper{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.post{
    /* width: 25%; */
    border: solid 1px #ccc;
    margin: 12px;
    padding: 12px;
    flex-basis: 300px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.post h1 {
    color: rgb(29, 55, 71);
}
.post h4 {
    color: rgb(214, 117, 117);
}
.post p {
    color: #666;
}
.post img{
    margin: auto;
    align-self: center;
}
.post a, .go-back{
    background-color: #333;
    color: #fff;
    /* width: 60px; */
    text-align: center;
    padding:8px 14px;
    margin:10px auto;
    border-radius: 6px;
    text-decoration: none;
}
.go-back{
    margin-top: 14px;
}
.post a:hover, .go-back:hover{
    opacity: .8;
    color:#fff;
    text-decoration: none;
}

hr{
    width: 100%;
    border-top: rgba(0,0,0,.3) solid 1px;
    border-bottom: transparent;
}


/* details*/
.detail-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: auto;
    padding-top: 30px;
}
.detail{
    padding:30px 40px 0px 40px;
    box-shadow: 2px 2px 2px #ccc, -2px -2px 2px #ccc;
    height: 500px;
    width: 60%;
}

.detail span{
    color: rgb(60, 106, 134);
}
.detail-container .comments{
    box-shadow: 2px 2px 2px #ccc, -2px -2px 2px #ccc;
    height: 506px;
    width: 25%;
    overflow-x: hidden;
    padding: 12px;
}
.comments p {
    border: solid 1px #eee;
    background-color: rgba(140, 221, 246, .1);
    padding: 10px;
    padding-bottom: 40px;
}
.comments span {
    float: right;
    font-size: 0.8rem;
    color: navy;
    margin-top: 14px;
    font-style: italic;
}

.add-com{
    align-self: flex-end;
    text-align: center;
    margin: 20px;
    border: solid 1px #ccc;
    padding: 12px;
}
#send-com{
    background-color: rgb(22, 71, 233);
    padding: 8px 16px;
    margin: 12px;
    color:#fff;
    border: none;
    border-radius: 4px;
}